<p id="notice"><%= notice %></p>

<strong>ツイッター内容</strong>
<br>
<br>
<p id="content"><%= @twclone.content %></p>
<br>
<%= link_to 'ツイートを編集する', edit_twclone_path(@twclone) %> |
<%= link_to '戻る', twclones_path %>
